<header *ngIf="router.url !== '/prescricao'">
  <div class="menu">
    <div class="flex justify-content-between py-3 px-4 border-bottom-2 border-100">
      <div class="flex justify-content-end align-items-center">
        <a routerLink="/home">
          <img src="assets/images/logo.png" alt="Logo" class="logo">
        </a>
      </div>
      <ul class="menu flex justify-content-end align-items-center">
        <li *ngFor="let item of menu" class="menu-item py-1 px-2 list-none">
          <a routerLink="{{item.link}}" routerLinkActive="active" class="text-lg font-semibold">{{item.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="card">
    <p-tabMenu [model]="items"></p-tabMenu>
  </div> -->
</header>

<main id="main" class="p-4">
  <router-outlet></router-outlet>
</main>

<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Angular 6 CRUD</p>
      </div>
    </div>
  </div>
</footer> -->
